/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.top-wrapper{
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
  padding-top:180px;
  padding-bottom:100px;
  text-align:center;
  color:white;
}
.container{
  width:1170px;
  margin:0 auto;
}

.top-wrapper h1{
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
}
.top-wrapper p{
  opacity:0.7;
  margin-bottom:15px;
}
.btn{
  padding:8px 24px;
  border-radius:4px;
  opacity:0.8;
  color:white;
  display:inline-block
}
.btn:hover{
  opacity:1;
}
.signup{
  background-color:#239b76;
  margin:15px 0;
}
.facebook{
  background-color:#3b5998;
  margin-right:10px;
}
.twitter{
  background-color:#55acee;
}
.fa{
  padding-right:5px;
}
header{
  background-color:rgba(34,49,52,0.9);
  height:65px;
  width:100%;
  z-index:10;
  position:fixed;
  top:0;
}
.header-left{
  float:left;
}
.logo{
  width:124px;
  padding-top:20px;
}
.header-right{
  float:right;
}
.login{
  color:white;
  background-color:rgba(255,255,255,0.3);
  padding:0 25px;
  line-height:65px;
  display:block;
  transition:all 0.5s;
}
.login:hover{
  background-color:rgba(255,255,255,0.5);
}
.lesson-wrapper{
  height:580px;
  text-align:center;
  background-color:#f7f7f7;
}
.heading h2{
  font-weight:normal;
  color:#5f5d60;
  padding-top:80px;
}
.lesson{
  float:left;
  width:25%;
  margin-top:50px;
  position:relative;
}
.icon-txt{
  position:absolute;
  top:90px;
  width:100%;
  color:white;
}
.txt-contents{
  font-size:13px;
  width:80%;
  margin-top:15px;
  color:#b3aeb5;
  display:inline-block;
}
.message-wrapper{
  text-align:center;
  padding:80px 0;
}
.message-wrapper h2{
  font-weight:normal;
}
.message{
  background-color:#5dca88;
  opacity:0.8;
  padding:15px 40px;
  box-shadow:0 7px #1a7940;
  margin-top:50px;
}
.message:active{
  position:relative;
  top:7px;
  box-shadow:none;
}
footer{
  border-top:1px solid #eee;
  padding:30px 0;
}
footer img{
  width:124px;
}
footer p{
  font-size:12px;
  color:#b3aeb5;
}
